	<div class="row-fluid">
		<div class="span4 well">
			<fieldset>
				<legend>Oooppsss. Something went wrong :(</legend>
			<div class="control-group">
				<p>Did you try to create a blank birthday or you already have that person in your list?</p>
			</div>
			<div class="form-actions">
				<%= button_to "Go to Home Page", root_path, method: :get, :class => "btn btn-info col-md-1" %>
			</div>
			</fieldset>
		</div>
	</div>


